span {
    font-weight: bold;
}

#at-plus-container {
    position: fixed;
    right: 50%;
    top: 40%;
    width: 33px;
    height: 33px;
}

#bottom-positioner {
    transition-duration: 0.5s;
    border-radius: 100px 100px 100px 100px;
    position: absolute;
    width: 33px;
    height: 33px;
}

#bottom-positioner:hover {
    transition-duration: 0.5s;
}

#button {
    width: 33px;
    height: 33px;
    position: absolute;
}

#trigger {
    transition-duration: 0.5s;
    border-radius: 100px 100px 100px 100px;
    /* background-color: black; */
    position: absolute;
    width: 33px;
    height: 33px;
}

#bottom-positioner:hover #trigger {
    transition-duration: 0.5s;
   transform: scale(5) translate(-5px, 1px);
}

#control-ring-container {
    height: 0px;
}

ul {
    height: 0px;
    visibility: hidden;
}

#bottom-positioner:hover ul {
    visibility: visible;
}


#info-bar {
    transition-duration: 0.6s;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px 100px 100px 100px;
    width: 0px;
    height: 0px;
    overflow: hidden;
    position: relative;
    left: 15px;
    top: 15px;
}


#bottom-positioner:hover #info-bar {
    transition-duration: 0.5s;
    width: 150px;
    height: 150px;
    transform: translate(-70px, -200px);
}

.info {
    text-align: center;
}

.info ul {
    transition-duration: 0.5s;
    list-style-type: none;
    position: relative;
    text-align: center;
}

.page.user {
    position: relative;
    right: 25px;
    bottom: 5px;
}

.page.user span {
    color: white;
    font-size: 25px;
    position: relative;
    left: 17px;
    bottom: 5px;
}

.page.user img {
    width: 23%
}

.page.comment {
    position: relative;
    right: 30px;
    top: 5px;
}

.page.comment span {
    color: white;
    font-size: 35px;
    position:relative;
    left: 20px;
    bottom: 7px;
}

.page.comment img {
    width: 30%
}

.mine.like {
    position: relative;
    left: 7px;
    bottom: 10px;
}

.mine.like span {
    color: #66CDAA;
    font-size: 20px;
    position:relative;
    left: 10px;
    bottom: 6px
}

.mine.posted {
    position: relative;
    right: 53px;
    top: 17px;
}

.mine.posted span {
    color: #66CDAA;
    font-size: 20px;
    position:relative;
    left: 10px;
    bottom: 5px
}

#control-ring {
    list-style-type: none;
}

#control-ring li {
    transition-duration: 0.5s;
    background-color: rgba(0, 0, 0, 0.6);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px 100px 100px 100px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: -6px;
    opacity: 0;
}

.mask.button {
    background-image: url(assets/images/nomask.png);
    bottom: -6px;
}

.history.button {
    background-image: url(assets/images/history.png);
    bottom: -6px;
}

.message.button {
    background-image: url(assets/images/message.png);
    bottom: -6px;
}

.message.button > span {
    font-size: 20px;
    font-weight: normal;
    background-color: #FF3030;
    color: white;
    text-align: center;
    border-radius: 100px 100px 100px 100px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 30px;
    top: -6px;
    vertical-align: bottom;
    opacity: 0;
}

.setting.button {
    background-image: url(assets/images/setting.png);
    bottom: -6px;
}

.sign.button {
    background-image: url(assets/images/signin.png);
    bottom: -6px;
}

.apb {
    transition-duration: 0.6s;
    transition-delay: 0.3s;
    background-color: rgba(48, 63, 159, 0.5);
    border-radius: 100px 100px 100px 100px;
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 0px;
}

.icon {
    transition-delay: 0.3s;
    transition-duration: 0.5s;
    background-image: url(assets/images/atplus_white.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100px 100px 100px 100px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 5px;
    top: 4px;
}

#bottom-positioner:hover .apb {
    transition-delay: 0s;
    transition-duration: 0.5s;
    background-color: rgba(48, 63, 159, 1);
    transform: scale(2);
}

#bottom-positioner:hover .icon {
    transition-delay: 0s;
    transition-duration: 0.5s;
    background-image: url(assets/images/atplus_green.png);
    background-size: contain;
}

#bottom-positioner:hover .mask.button {
    transition-duration: 0.5s;
    transform: translate(-75px, -45px);
    opacity: 1;
}

#bottom-positioner:hover .history.button {
    transition-duration: 0.5s;
    transform: translate(-90px, 0px);
    opacity: 1;
}

#bottom-positioner:hover .message.button {
    transition-duration: 0.5s;
    transform: translate(-70px, 47px);
    opacity: 1;
}

#bottom-positioner:hover .message.button span {
    transition-duration: 0.2s;
    opacity: 1;
}

#bottom-positioner:hover .setting.button {
    transition-duration: 0.5s;
    transform: translate(-25px, 70px);
    opacity: 1;
}

#bottom-positioner:hover .sign.button {
    transition-duration: 0.5s;
    transform: translate(25px, 60px);
    opacity: 1;
}

#control-ring > li, #info-bar, #info-bar ul, .message.button span {
    transition-delay: 0.05s;
}